
main {
    width: 560px;
    padding: 15px;
    background: #f0f0f0;
    margin: 0 auto;
    font-family: Arial,sans-serif;
    font-size: 16px;
    border-radius: 10px;
}
h1 {
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    margin-bottom: 30px;
}
article {
    border: 1px solid gray;
    padding: 15px;
    height: 180px;
    margin-bottom: 50px;
    position: relative;
}
article:last-child {
    margin-bottom: 0;
}
article img {
    float: left;
    margin-right: 15px;
    border: 1px solid gray;
    width: 250px;
}
.buttons {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.buttons button {
    width: 77px;
    height: 30px;
    outline: none;
    background: url("button.png") no-repeat;
    background-size: contain;
    border: none;
    color: white;
    font-size: 14px;
    padding-bottom: 3px;
}

