* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
table {
    border-collapse: collapse;
}
td,th {
    border: 1px solid #b9baba;
}
th {
    text-align: left;
}
thead, tfoot {
    background: #e1e4f0;
}
.prID, .prDicsount {
    width: 100px;
}
.prName {
    width: 300px;
}
.prPrice, .prQuantity, .prStock {
    width: 200px;
}

button  {
    padding: 3px 4px;
    border: 1px solid #808080;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(white, lightgray 50%);
}
button img {
    display: block;
    width: 12px;
    height: 12px;
}

a {
    text-decoration: none;
    color: #000;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 1px 3px;
}
a:hover {
    border: 1px solid red;
}
form {
    position: relative;
}
.pages {
    position: absolute;
    right: 0;
    top: 0;
}
.ps {
    margin-left: 25px;
}