table,td {
    border: 1px solid black;
    font-size: 16px;
}
.right {
    width: 190px;
}
.left {
    width: 300px;
}
#zip {
    width: 60px;
}
#c-code,#a-code {
    width: 40px;
}
#number {
    width: 80px;
}
#country {
    width: 130px;
}
#month, #day {
    width: 20px;
}
#year {
    width: 35px;
}
.buttons {
    background-color: aquamarine;
}
#submit, #reset {
    cursor: pointer;
    background-color: lightgray;
    font-weight: 700;
    outline: none;
    border: none;
    box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.2) inset,
    1px 1px 0 0 rgba(255,255,255, 0.2)  inset;

}