body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    margin: 0;

}
header {
    width: 200px;
    padding-top: 20px;
    position: absolute;
    margin-left: 5px;
}
header a {
    font-weight: 700;
    text-decoration: none;
}
nav h3 {
    color: #921319;
    font-size: inherit;
    margin: 20px 0 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    font-weight: 400;
    color: black;
}
.prev, .next {
    padding: 5px 0;
    width: 120px;
    border: 2px solid black;
    position: relative;
    background-color: white;
}
.prev:after {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-right: 7px solid black;
    left: -4px;
    top: 6px;
}
.next:after {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-left: 7px solid black;
    right: -4px;
    top: 6px;
}
main {
    margin-left: 200px;
    margin-right: 203px;
    padding: 10px;
    border: 2px solid #c7c7c7;
    background-color: white;
}
h4 {
    background-color: #7f7f7f;
    color: white;
    font-size: 18px;
}
article img {
    width: 200px;
    height: fit-content;
}
.article_content {
    display: flex;
}
.article_content_p {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: 700;
}
.article_content_p p:first-child {
    margin-top: 0;
}
article a {
    color: #9a4028;
}
aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    margin-left: 3px;
}
aside h4 {
    margin: -5px 0 10px;
    text-align: center;
}
aside article {
    display: flex;
    flex-direction: column;
    border: 2px solid #c7c7c7;
    margin-bottom: 2px;
    padding: 5px 0 ;
}
aside article a {
    color: #9a4028 ;
}

aside article a, aside article form  {
    text-align: center;
}
form input {
    width: 70%;
    margin-bottom: 10px;
}
aside article button.styles {
    width: 75%;
    height: 30px;
    margin: 5px auto;
    border: 2px solid #92bcd2;
    background: linear-gradient(to right, rgba(84,194,221,1) 0%, rgba(194,230,255,1) 6%, rgba(194,230,255,1) 95%, rgba(84,194,221,1) 100%);
    color: #54c2dd;
}
button {
    cursor: pointer;
}