body {
    background: #5a5a5a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
    width: 800px;
}
.header_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.header_wrapper img, .header_wrapper input, .header_wrapper span {
    margin-right: 15px;
}
.header_wrapper span {
    color: white;
}
.header_wrapper img {
    background: transparent;
}
.header_wrapper input {
    padding: 6px 0 6px 3px;
    border-radius: 2px;
}
.header_wrapper input::placeholder {
    color: black;
}
form {
    display: flex;
    align-items: center;
}
button {
    height: 26px;
    width: 50px;
    border-radius: 2px;
    border: outset;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #efefef 50%, #d2d2d2 100%);
}
h1  {
    color: #ffc600;
    margin-bottom: 20px;
    font-size: 30px;
}
main p {
    color: #a39a89;
}