table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
}
button {
    cursor: pointer;
    background: linear-gradient(white, lightgrey 50%);
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px 10px;
    outline: none;
}