body {
    font-family: Tahoma, sans-serif;
    width: 700px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
table, td, th {
    border-collapse: collapse;
    border: 2px solid black;
}
